<div class="container main">
  <div class="row valign-wrapper">
    {{#each model as |day|}}
      <div class="col s1 done">
        {{day-tile day=day}}
      </div>
    {{/each}}
  </div>
</div>

<!--
<div class="row valign-wrapper">
  <div class="col s1">&nbsp;</div>
  <div class="col s1 done"><p class="valign">1</p></div>
  <div class="col s1 undone"><p class="valign">2</p></div>
  <div class="col s1 done"><p class="valign">3</p></div>
  <div class="col s1 done"><p class="valign">4</p></div>
  <div class="col s1 done"><p class="valign">5</p></div>
  <div class="col s1 done"><p class="valign">6</p></div>
  <div class="col s1 done"><p class="valign">7</p></div>
  <div class="col s1 done"><p class="valign">8</p></div>
  <div class="col s1 done"><p class="valign">9</p></div>
  <div class="col s1 done"><p class="valign">10</p></div>
  <div class="col s1">&nbsp;</div>
</div> -->
