<div class="container main">
  <div class="row ">
    {{#each model as |day|}}
      {{#link-to 'day' day.id}}<div class="col s1 {{day.status}}">
        {{day-tile day=day}}
      </div>{{/link-to}}
    {{/each}}
  </div>
</div>
